
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div> 
        <input type="submit" onclick="myfunc()" value="try it"></input>
    </div>
    <script>
        function myfunc() {
            // document.getElementById("")
            window.alert("hellow javascriot");
        }
    </script>
</body>
</html>
